body {
  margin: 0;
  background-color: aqua;
  color: rgb(1, 1, 1);
  font-size: 1.5rem;
  font-family:'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
